.App {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 20rem;
}

.img-container {
    width: 20rem;
    overflow: hidden;
}

.device {
    margin-left: -1.2rem;
    height: 14rem;
}

@media (min-width:400px) {
    .App {
        width: 100%;
        display: grid;
        grid-template-areas: 'navbar navbar'
                             'main device';
        row-gap: 4rem;
        column-gap: 1rem;
    }
    .navbar {
        grid-area: navbar;
    }

    .main {
        grid-area: main;
        align-self: center;
    }

    .img-container {
        width: 100%;
        grid-area: device;
    }

    .device {
        margin: 0;
        height: 100%;
    }
}